@model DailyScrum.Models.Database.DailyMeeting

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row pl-4 pr-4 rounded text-sm-center text-md-left ">
    <div class="col-9 bg-white">
        <h1 class="text-center">#DailyMeeting</h1>
    </div>
    <div class="col-3 text-left pt-2 text-right bg-white">
        <form asp-action="Index" method="get">
            <button type="submit" class="btn btn-info">
                Powrót
            </button>
        </form>
    </div>
</div>

<div class="p-2 mb-5 pb-5">
    <table class="table">
        <thead class="text-white daily-background-color pl-4 pr-4">
            <tr class="row text-center ">
                <th class="col-sm-3 ">
                    Zgłaszający
                </th>
                <th class="col-sm-3">
                    Co wczoraj zrobiłeś?
                </th>
                <th class="col-sm-3">
                    Co dzisiaj zrobisz?
                </th>
                <th class="col-sm-3">
                    Jakie problemy?
                </th>
            </tr>
        </thead>
        <tbody class=" bg-white">
            @foreach (var item in Model?.Posts)
            {
                <tr class="row p-2">
                    <td class="col-sm-3">
                        @{
                            var fullName = $"{item.FromUser.LastName} {item.FromUser.FirstName}";

                            var test = "https://avios.pl/wp-content/uploads/2018/01/no-avatar.png";

                            if (item.FromUser?.PhotoPath != null)
                            {
                                test = item.FromUser.PhotoPath;
                            }
                        }
                        <div class="form-group text-center text-sm-left pl-2">
                            <img src="@test" alt="fullName" class="rounded-circle" style="width:50px;height:50px" />
                            <label>@fullName</label>
                        </div>

                    </td>
                    <td class="col-sm-3">
                        @Html.DisplayFor(modelItem => item.FirstQuestion)
                    </td>
                    <td class="col-sm-3">
                        @Html.DisplayFor(modelItem => item.SecondQuestion)
                    </td>
                    <td class="col-sm-3">
                        @Html.DisplayFor(modelItem => item.ThirdQuestion)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

